<%= form_for(@objeto) do |f| %>
  <% if @objeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@objeto.errors.count, "error") %> prohibited this objeto from being saved:</h2>

      <ul>
      <% @objeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :padreid %><br>
    <%= f.number_field :padreid %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :createdby %><br>
    <%= f.text_field :createdby %>
  </div>
  <div class="field">
    <%= f.label :upvote %><br>
    <%= f.number_field :upvote %>
  </div>
  <div class="field">
    <%= f.label :downvote %><br>
    <%= f.number_field :downvote %>
  </div>
  <div class="field">
    <%= f.label :tipe %><br>
    <%= f.number_field :tipe %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>