$("#comment_area").val('');
$("#commentform-<%= @comment.padreid %>").empty();
<% if @fromchild == "true" %>
	$("#comment-<%= @comment.padreid %>").prepend("<div class='child'><%= j(render partial: 'comment', object: @comment, locals:{justcreated: true}) %></div>");
<% else %>
	$("#comment-<%= @comment.padreid %>").prepend("<%= j(render partial: 'comment', object: @comment, locals:{justcreated: true}) %>");
<% end %>