<p id="notice"><%= notice %></p>

<% if params[:id].present? %>
  <h1><%= Objeto.where(id: params[:id])[0].titulo %></h1>
  <%= link_to 'Back', objetos_path(:id => Objeto.where(id: params[:id])[0].padreid) %>|
  <%= link_to 'Details', objeto_path(:id => params[:id]) %>
<% else %>
  <h1>Temas Principales</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Createdby</th>
      <th>Upvote</th>
      <th>Downvote</th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
    <% @objetos.each do |objeto| %>
      <tr>
        <td>
          <% if objeto.tipe == 1 %>
            <strong><%= link_to objeto.titulo, objetos_path(:id => objeto.id) %></strong>
          <% else %>
            <%= link_to objeto.titulo, objeto %>
          <% end %>
        </td>
        <td><%= objeto.createdby %></td>
        <td><div id="upvotes-now-<%= objeto.id %>" ><%= objeto.upvote %></div></td>
        <td><div id="downvotes-now-<%= objeto.id %>"><%= objeto.downvote %></div></td>
        <td><%= link_to 'Edit', edit_objeto_path(objeto) %></td>
        <td><%= link_to 'Destroy', objeto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'UpVote', voteup_objeto_path(objeto), method: :patch, remote: true, data: {disable_with: "..."} %></td>
        <td><%= link_to 'DownVote', votedown_objeto_path(objeto), method: :patch, remote: true, data: {disable_with: "..."} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if params[:id].present? %>
  <%= link_to 'New Post', new_objeto_path(:pid => params[:id]) %>
<% else %>
  <%= link_to 'New Post', new_objeto_path %>
<% end %>
