<p id="notice"><%= notice %></p>

<h1>Listing Objetos</h1>
<% if params[:id].present? %>
<h2>
    <%= Objeto.where(id: params[:id])[0].titulo %>
</h2>
<%= link_to 'Back', objetos_path(:id => Objeto.where(id: params[:id])[0].padreid) %>|
<%= link_to 'Details', objeto_path(:id => params[:id]) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Padreid</th>
      <th>Titulo</th>
      <th>Content</th>
      <th>Createdby</th>
      <th>Upvote</th>
      <th>Downvote</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @objetos.each do |objeto| %>
      <tr>
        <td><%= objeto.id %> </td>
        <td><%= objeto.padreid %></td>
        <td><%= objeto.titulo %></td>
        <td><%= objeto.content %></td>
        <td><%= objeto.createdby %></td>
        <td>
          <strong id="upvotes-now-<%= objeto.id %>" ><%= objeto.upvote %></strong>
        </td>
        <td>
          <strong id="downvotes-now-<%= objeto.id %>"><%= objeto.downvote %></strong>
        </td>
        <td><%= link_to 'Navigate', objetos_path(:id => objeto.id) %></td>
        <td><%= link_to 'Show', objeto %></td>
        <td><%= link_to 'Edit', edit_objeto_path(objeto) %></td>
        <td><%= link_to 'Destroy', objeto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Nice', voteup_objeto_path(objeto), method: :patch, remote: true, data: {disable_with: "..."} %></td>
        <td><%= link_to 'Sucks', votedown_objeto_path(objeto), method: :patch, remote: true, data: {disable_with: "..."} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if params[:id].present? %>
  <%= link_to 'New Objeto', new_objeto_path(:pid => params[:id]) %>
<% else %>
  <%= link_to 'New Objeto', new_objeto_path %>
<% end %>
