<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @objeto.id %>
</p>

<p>
  <strong>Padreid:</strong>
  <%= @objeto.padreid %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @objeto.titulo %>
</p>

<p>
  <strong>Content:</strong>
  <%= @objeto.content %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @objeto.createdby %>
</p>

<p>
  <strong>Upvote:</strong>
  <%= @objeto.upvote %>
</p>

<p>
  <strong>Downvote:</strong>
  <%= @objeto.downvote %>
</p>

<p>
  <strong>Tipe:</strong>
  <%= @objeto.tipe %>
</p>

<%= link_to 'Edit', edit_objeto_path(@objeto) %> |
<% if @objeto.padreid.present? %>
  <%= link_to 'Back', objetos_path(:id => @objeto.padreid) %>
<% else %>
  <%= link_to 'Back', objetos_path %>
<% end %>

<br>
<p>
  <%= link_to 'Create Child', new_objeto_path(:pid => @objeto.id) %>
</p>
