<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @objeto.id %>
</p>

<p>
  <strong>Padreid:</strong>
  <%= @objeto.padreid %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @objeto.titulo %>
</p>

<p>
  <strong>Content:</strong>
  <%= @objeto.content %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @objeto.createdby %>
</p>

<p>
  <strong>Upvote:</strong>
  <%= @objeto.upvote %>
</p>

<p>
  <strong>Downvote:</strong>
  <%= @objeto.downvote %>
</p>

<p>
  <strong>Tipe:</strong>
  <%= @objeto.tipe %>
</p>

<%= link_to 'Edit', edit_objeto_path(@objeto) %> |
<% if @objeto.padreid.present? %>
  <%= link_to 'Back', objetos_path(:id => @objeto.padreid) %>
<% else %>
  <%= link_to 'Back', objetos_path %>
<% end %>

<br>
<p>
  <%= link_to 'Create Child', new_objeto_path(:pid => @objeto.id) %>
</p>

<p>
  <%= link_to 'Agregar Comentario', addop_objeto_path %>

</p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Padreid</th>
      <th>Titulo</th>
      <th>Content</th>
      <th>Createdby</th>
      <th>Upvote</th>
      <th>Downvote</th>
      <th colspan="6"></th>
    </tr>
  </thead>
 <tbody>
    <% @objetoComm.each do |objetoComm| %>


      <tr>
        <td><%= objetoComm.id %> </td>
        <td><%= objetoComm.padreid %></td>
        <td><%= objetoComm.titulo %></td>
        <td><%= objetoComm.content %></td>
        <td><%= objetoComm.createdby %></td>

        <td>
          <strong id="upvotes-now-<%= objetoComm.id %>" ><%= objetoComm.upvote %></strong>
        </td>
        <td>
          <strong id="downvotes-now-<%= objetoComm.id %>"><%= objetoComm.downvote %></strong>
        </td>
        <td> <%= objetoComm.tipe  %> </td>

        <td>
        <% if objetoComm.tipe == 1 %>
          <%= link_to 'Navigate', objetos_path(:id => objetoComm.id) %>
        <% end %>
        </td>

        <td><%= link_to 'Show', objetoComm %></td>
        <td><%= link_to 'Edit', edit_objeto_path(objetoComm) %></td>
        <td><%= link_to 'Destroy', objetoComm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Nice', voteup_objeto_path(objetoComm), method: :patch, remote: true, data: {disable_with: "..."} %></td>
        <td><%= link_to 'Sucks', votedown_objeto_path(objetoComm), method: :patch, remote: true, data: {disable_with: "..."} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
