<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @objeto.titulo %>
</p>

<p>
  <strong>Content:</strong>
  <%= @objeto.content %>
<p>
  <strong>Createdby:</strong>
  <%= @objeto.createdby %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @objeto.upvote %>/-<%= @objeto.downvote %>
</p>


<%= link_to 'Edit', edit_objeto_path(@objeto) %> |
<% if @objeto.tipe == 1 %>
  <%= link_to 'Back', objetos_path(:id => @objeto.id) %>
<% elsif @objeto.padreid.present? %>
  <%= link_to 'Back', objetos_path(:id => @objeto.padreid) %>
<% else %>
  <%= link_to 'Back', objetos_path %>
<% end %>

<p>
  <%= link_to 'Agregar Comentario', addcomment_objeto_path(@objeto), method: :patch, remote: true, data: {disable_with: "..."} %>
</p>

<%= render partial: "comment", collection: Objeto.where(padreid: @objeto.id) %>